.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.blog {
	.entry-header {
		display: inline-block;
		float: right;
		
		&:nth-of-type(2) {
			float: left;
	}
		
	.entry-content {
		.more-link {
			display: none;
		}
		
	.entry-link {
		display: inline-block;
		float: left;
		
		&:nth-of-type(2) {
			float: right;
		}
}
